@page "/Ejercicio1"

<h3>Ejercicio 1</h3>
<br />
<h6>Programa que acepte una frase u oración, luego muestre la cantidad de vocales, espacios y consonantes que tiene la misma.</h6>
<br />

<input class="form-control form-control-lg" type="text" @bind-value="@frase" placeholder="Inserte una frase" aria-label=".form-control-lg example">
<br />
<button class="btn btn-success form-control form-control-lg" type="button"  @onclick="ejercicioo1">Hacer calculo</button>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            Vocales: @vocal
        </div>
        <div class="col-sm">
            Consonantes: @consonante
        </div>
        <div class="col-sm">
            Otros:@espacio
        </div>
    </div>
</div>


@code {
    int vocal { get; set; }
    int consonante { get; set; }
    int espacio { get; set; }
    string frase = "";

    void ejercicioo1()
    {

        for (int i = 0; i < frase.Length; i++)
        {
            if ((frase[i] == ' '))
            {
                espacio++;
            }
            else if ((frase[i] == 'a') || (frase[i] == 'e') || (frase[i] == 'i') || (frase[i] == 'o') || (frase[i] == 'u'))
            {
                vocal++;
            }
            else { consonante++; }
        }
    }
}

