
@page "/Ejercicio2"


<h3>Ejercicio 2</h3>
<br />
<h6>Programa que muestre todos los datos de un usuario de random users:</h6>
<br />

<button  class="btn btn-success form-control form-control-lg" type="button">Convertir</button>
<br />
<br />
<div class="alert alert-info" role="alert">

</div>


@code {


 

}
