@page "/Ejercicio3"




<h3>Ejercicio 3</h3>
<br />
<h6>Programa que acepte un numero de una cedula dominicana y determine si es valida. (sin usar api).</h6>
<br />

<input @bind-value="@cedula" class="form-control form-control-lg" type="text" placeholder="Cedula" aria-label=".form-control-lg example">
<br />
<button @onclick="ValidaCedula" class="btn btn-success form-control form-control-lg" type="button">Realizar</button>
<br />
<br />



<div class="alert alert-success" role="alert">

</div>
<div class="alert alert-danger" role="alert">
        @ErrorCantidad
</div>
<div class="alert alert-warning" role="alert">
        @ValidoError
</div>
   

@code {
    //Declaración de variables a nivel de método o función.
    string cedula;
    int verificador;
    int digito;
    int digitoVerificador;
    int digitoImpar;
    int sumaPar;
    int sumaImpar;
    int longitud;

    string cedulaverdadera;


    string ErrorCantidad = "";
    string ValidoError = "";


    void ValidaCedula()
    {

        try
        {
            if (longitud == 11)
            {

            }
            else
            {
                ErrorCantidad = "La cédula debe contener once(11) digitos";
            }
        }
        catch
        {
            ValidoError = "Sintasis incorrecta";
        }

    }

    }
